/* リキッドレイアウト対応 */
html {
  //~375px
  @media (max-width: $screen-min) {
    font-size: #{16 / strip-unit($screen-min) * 100}vw;
  }

  //375px~787px
  font-size: 16px;

  //787px~inner
  @include mq("md") {
    font-size: #{16 / map-get($breakpoints, "lg") * 100}vw;
  }

  //inner~max-screen
  @media (min-width: $inner) {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  @include mq("md") {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  @include mq("md") {
    &:hover {
      opacity: 0.8;
    }
  }
}
